@charset "utf-8";
html,body{
	width:auto;
	margin: 0px auto;
	padding: 0px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #000;
	background: #EEE9DA;
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","Osaka", Verdana, "ＭＳ Ｐゴシック", "MS P Gothic" Helvetica, sans-serif;
}
body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

p{
	width: 80%;
	padding: 10px 5px;
	margin: 0 auto;
}
h2,h4,h5,h6{
	margin: 0px;
	padding: 0px;
	text-align: center;
	clear:both;
}

h1{
	text-align: left;
	margin: 0px 30px;
	padding: 0px;
	color: #EEE9DA;
	clear:both;
	display: none;
}
h2{
	width: 20%;
	margin: 100px auto;
	text-align: center;
	color: #6096B4;
	border-bottom: #93BFCF 2px solid;
}

img{
	border: none;
	vertical-align: bottom;
}
/*全体------------------------------------------------------------------------*/
header{
	z-index: 9999;
	min-width: 750px;
	width: 100%;
	height: 50px;
	background: #6096B4;
	position: fixed;/*スクロールしても残る*/
	top: 0;
	left: 0;
}
header ul{
	float: right;
	margin: 0px 0px 0px auto;
	height: 50px;
	overflow: hidden;
}
header nav li{
	list-style: none;
	float: left;
	padding: 0px;
	margin: 10px 20px;
}
header a{
	text-decoration: none;
	color: #EEE9DA;
}
header a:hover{
	color: #fff;
}
.header-logo {
	float: left;
	height: 100%;
	aspect-ratio: 3/1;
	background: url("..//images/kyoka.png") top center no-repeat;
	background-size: 100% 100%;/*画像が切れないように100%*/
}

main{
	margin-top: 50px;
}

#skill ul{
	max-width: 500px;
	padding: 0;
	margin: 0px auto;
	position: relative;
}

#skill ul li {
	color: #6096B4;
	border-left: solid 6px #6096B4;
	background: #fff;
	margin-bottom: 5px;
	line-height: 1.5;
	padding: 0.5em;
	list-style-type: none;
}

#skill li:before {
	position: absolute;
	display: block;
    border-radius: 50%;
    width: 5px;
    height: 5px; 
    left: 0;
    top: 0.6em; 
    content: "";
    background: #93BFCF;
 }



footer{
	width: 100%;
    bottom: 0; /*下に固定*/
	text-align: center;
	color: #fff;
	background: #6096B4;
	margin-top: auto;
}


.lum-lightbox{ 
	z-index: 10000; 
}
.lum-lightbox img{ 
	width: 80%; 
}

.toppage{
	text-decoration: none;
	padding: 10px 25px;
	color: #6096B4;
	border-radius: 50px;
	border: #6096B4 2px solid;
}

.toppage:hover{
	background: #6096B4;
	color: #EEE9DA;
}

#morework{
	text-align: center;
	margin: 100px 0px 100px 0px;
}